@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  html[data-theme="light"] {
    --color-fill: 251, 254, 251;
    --color-text-base: 40, 39, 40;
    --color-accent: 0, 108, 172;
    --color-card: 230, 230, 230;
    --color-card-muted: 205, 205, 205;
    --color-border: 236, 233, 233;
  }
  html[data-theme="dark"] {
    --color-fill: 33, 39, 55;
    --color-text-base: 230, 230, 230;
    --color-accent: 26, 217, 217;
    --color-card: 63, 75, 90;
    --color-card-muted: 89, 107, 129;
    --color-border: 59, 70, 85;
  }
  #sun-svg,
  html[data-theme="dark"] #moon-svg {
    display: none;
  }
  #moon-svg,
  html[data-theme="dark"] #sun-svg {
    display: block;
  }
  body {
    @apply flex min-h-screen flex-col bg-skin-fill font-mono text-skin-base
    selection:bg-skin-accent selection:bg-opacity-70 selection:text-skin-inverted;
  }
  section,
  footer {
    @apply mx-auto max-w-3xl px-4;
  }
  a {
    @apply outline-2 outline-offset-1 outline-skin-fill
    focus-visible:no-underline focus-visible:outline-dashed;
  }
  svg {
    @apply inline-block h-6 w-6 fill-skin-base group-hover:fill-skin-accent;
  }
  svg.icon-tabler {
    @apply inline-block h-6 w-6 scale-125 fill-transparent
    stroke-current stroke-2 opacity-90 group-hover:fill-transparent
    sm:scale-110;
  }
  .prose {
    @apply prose-headings:!mb-3 prose-headings:!text-skin-base
    prose-h3:italic prose-p:!text-skin-base
    prose-a:!text-skin-base prose-a:!decoration-dashed prose-a:underline-offset-8
    hover:prose-a:text-skin-accent prose-blockquote:!border-l-skin-accent
    prose-blockquote:border-opacity-50 prose-blockquote:opacity-80
    prose-figcaption:!text-skin-base prose-figcaption:opacity-70
    prose-strong:!text-skin-base


    prose-code:rounded prose-code:bg-skin-card
    prose-code:bg-opacity-75 prose-code:p-1 prose-code:!text-skin-base
    prose-code:before:!content-[''] prose-code:after:!content-['']
    prose-pre:!text-skin-base prose-ol:!text-skin-base
    prose-ul:overflow-x-clip prose-ul:!text-skin-base prose-li:marker:!text-skin-accent
    prose-table:text-skin-base prose-th:border
    prose-th:border-skin-line prose-td:border
    prose-td:border-skin-line prose-img:mx-auto
    prose-img:!mt-2 prose-img:border-2
    prose-img:border-skin-line prose-hr:!border-skin-line;
  }
  .prose a {
    @apply hover:!text-skin-accent;
  }
  .prose thead th:first-child,
  tbody td:first-child,
  tfoot td:first-child {
    padding-left: 0.5714286em;
  }
  .prose h2#table-of-contents {
    @apply mb-2;
  }
  .prose details {
    @apply inline-block cursor-pointer select-none text-skin-base;
  }
  .prose summary {
    @apply focus-outline;
  }
  .prose h2#table-of-contents + p {
    @apply hidden;
  }

  /* ===== scrollbar ===== */
  html {
    overflow-y: scroll;
  }

  /* width */
  ::-webkit-scrollbar {
    @apply w-3;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-skin-fill;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-skin-card;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-skin-card-muted;
  }
}

@layer components {
  .display-none {
    @apply hidden;
  }
  .focus-outline {
    @apply outline-2 outline-offset-1 outline-skin-fill focus-visible:no-underline focus-visible:outline-dashed;
  }
}

div[data-remark-code-title] {
  background-color: #3e4b5a;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  color: #fff;
  padding: 0.2rem 0.5rem;
  margin-bottom: -4px;
  padding-bottom: 6px;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: italic;
  font-family: monospace;
  width: fit-content;
  padding-right: 2rem;
  display: flex;
  flex-direction: row;
}

div[data-remark-code-title]::before {
  content: "";
  height: 16px;
  width: 16px;
  display: block;
  align-self: center;
  margin-right: 0.2rem;
  background-size: contain;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAYlJREFUSEvV1TuPTnEQx/HPUJCVuCab6ASFKESnFJXXQEUULg0apUQ0oqEh0YhSrROdwqXzHiSCiiiQsCOz+Z/k5Ox59jl5lmRNc5LJZL7z/525hGaZuQ+3sLfzzfluwXa8xcOI+DoWHz3AQbyIiENTAJm5BzdwBC/xeAyyUcBVrOBbK2oNZBSQmeWv5/dtJSJ+9l68G1fwG09wATmUaw0Ah1HPPzkAfMfrTobM3IZTOI+n2IUzeIU7XTFjgKMt+bkB4EdpHRFV7aplZiW9iOPNtYRjOBsRb8q38D8Ya4TM3I8HuDsT0CSqSna2JPUTv+AXlmd0WBdTLT4XMJSo+vsRPuD+DEAX82kuYOoc/E2JpszdhiSaAth8Eu1Yp2Nqcj9jay+mfB/bopzURadxb4Y2lfx6S97FlO8y/t8uqiVXu6oGdJJEteiGu2i9blrdU3g+F/DPB20KoN2L/r6aLtFEQN2CvoybQ6IDeIaagUWt1vlN3I6Id8ODU9fpEk4smr3d5PcRca3L8QdE2+0ZSofjvQAAAABJRU5ErkJggg==);
}

div[data-remark-code-title] + pre {
  margin-top: 0;
  border-bottom-right-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}
