---
---

<section id="meet" class="mb-10 flex flex-col items-center">
  <h2 class="text-[120px] font-bold">🤝</h2>
  <h2 class="text-3xl font-bold -mt-[22px] mb-6">One Last thing</h2>
  <p class="text-center mb-4 max-w-xl">
    Even though a lot of people consider me an introvert person, I still enjoy
    meeting new people and talking about programming, psychology, philosophy,
    and life. I’m also passionate about helping newcomers in tech by answering
    their questions and guiding them through their journey. <br /><br /> If you’d
    like to chat, click the link below.
  </p>

  <a
    class="cursor-pointer hover:text-skin-accent underline decoration-wavy decoration-2 underline-offset-4"
    onclick="Calendly.initPopupWidget({url: 'https://calendly.com/yjose/meet?hide_event_type_details=1'});return false;"
  >
    <svg xmlns="http://www.w3.org/2000/svg" class="transform rotate-180">
      <path
        fill="currentColor"
        d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
      ></path>
    </svg>
    Let's Meet
    <svg xmlns="http://www.w3.org/2000/svg">
      <path
        fill="currentColor"
        d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
      ></path>
    </svg>
  </a>
</section>

<style>
  #meet {
    @apply pb-6 pt-12;
  }
</style>

<!-- Calendly link widget begin -->
<link
  href="https://assets.calendly.com/assets/external/widget.css"
  rel="stylesheet"
/>
<script
  src="https://assets.calendly.com/assets/external/widget.js"
  type="text/javascript"
  async
></script>
